<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NhaHang"
        tools:targetApi="31">
        <activity
            android:name=".QuanLiDonHang"
            android:exported="false" />
        <activity
            android:name=".ChiTietNhanVien"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.NhaHang.NoActionBar" />
        <activity
            android:name=".danhsachnhanvien"
            android:exported="false" />
        <activity
            android:name=".QuenMatKhauActivity"
            android:exported="false" />
        <activity
            android:name=".BillActivity"
            android:exported="false" />
        <activity
            android:name=".MenuMonActivity"
            android:exported="false" />
        <activity
            android:name=".QuanLiMonActivity"
            android:exported="false" />
        <activity
            android:name=".XacNhanThemMonActivity"
            android:exported="false" />
        <activity
            android:name=".QRThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".GoiMonActivity"
            android:exported="false"
            android:theme="@style/Theme.NhaHang" />
        <activity
            android:name=".KhuVucActivity"
            android:exported="false" />
        <activity
            android:name=".ThongKeMonAnActivity"
            android:exported="false" />
        <activity
            android:name=".SoLuongBanDatActivity"
            android:exported="false" />
        <activity
            android:name=".DoanhThuActivity"
            android:exported="false" />
        <activity
            android:name=".ThongKeActivity"
            android:exported="false" />
        <activity
            android:name=".DoiMatKhauActiviy"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuanLiActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThietLapTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".ChiTietSanPhamActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TienIchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>